.main-card {
  max-width: 80%;

}

.content {
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.back_toolbar {
  background: #5f5fc4;
  color: #ffffff;
}

.mat-spinner {
  margin: 10% auto 0;
}
