@import '~bootstrap/dist/css/bootstrap.min.css';

.Home__title {
  color: blueviolet;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin-right:0.1em;
  border: blueviolet solid 1px;
  padding: 6px;
}
