<div class="jumbotron">
  <nav class="nav nav-pills nav-fill">
    <li class="nav-item bg-dark">
      <a class="nav-link" href="/news">News</a>
    </li>
  </nav>
  <br/>
  <h1 class="display-4">
    <span class="Home__title">G</span>Games Portal</h1>
  <p class="lead">Welcome to Games Portal management console.</p>
  <hr class="my-4 bg-dark">
  <p>Please, click on "Learn more" button to get more information about this project.</p>
  <a class="btn btn-dark btn-lg" href="#" role="button">Learn more</a>
</div>
